<div style="background: #eee;">
    <div style="background: #fff; width:70%; margin: 0 auto;">
        <div style="padding: 0 40px;">
        <div style="border-bottom: 2px solid #eee;">
            <img src={{logo}} alt="logo" style="max-width: 140px; margin: 10px;" />
        </div>
        <div>
            <h3 style="margin-top: 0px;">Hi {{name}},</h3>
            <p>
                Your email#{{email}} is on its way to you! you can expect it to be delivered to your doorstep in 4-5 bussiness days.
                In meantime, easily <a href={{trackUrl}} target="_blank">track your shipment</a> to watch it every step of the way!
            </p>
            <div style="margin: 60px 0;">
                <a href={{trackUrl}} target="_blank" style="background: #112D46; color: #fff; padding: 20px; text-decoration: none;">TRACK MY SHIPPMENT</a>
            </div>
            <h4>Cheers,</h4>
            <p style="padding-bottom: 25px; margin: 0;">Boiler Team!</p>
        </div>
        </div>
    </div>
</div>
